<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <h1>Information</h1>

        <br>
        <a href="/insert/">Add User</a>
        <br>

        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Number</th>
                <th>City</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <% for(var i=0; i<data.length; i++) { %>
                <tr>
                    <td><%= data[i].first_name %></td>
                    <td><%= data[i].last_name %></td>
                    <td><%= data[i].number %></td>
                    <td><%= data[i].city %></td>
                    <td><a href="/edit/<%=data[i].id%>">edit</a></td>
                    <td><a href="/delete/<%=data[i].id%>">delete</a></td>
                </tr>
           <% } %>

        </table>
    </body>
</html>